@model IEnumerable<Vehicle_Selling_Site.Models.VehicleTypeTable>
@{
    ViewBag.Title = "Remove a Vehicle Type";
}

@*vehicle types can be removed in this page*@

<h2>Remove a Vehicle Type</h2>
<form method="post">
    @Html.ValidationSummary(true, "an Error has occured:", new { @class = "text-danger" }); @*any erros occured will be displayed here*@
    <select name="SelectedType">
    @foreach (Vehicle_Selling_Site.Models.VehicleTypeTable item in Model) //load each vehicle type sent from the controller and display it in a DropDownList
    {
        <option value="@item.VehicleType">@item.VehicleType</option>
    }
    </select>
    Note: upon removing a Vehicle Type, all Vehicles of the same type will also be removed
    <input type="submit" class="btn btn-default" value="Remove" />
</form>

