
@{
    ViewBag.Title = "Home Page";
}

<style>
    #Logo{
        width:1000px;
        height:200px;
    }
</style>
<body>
    <div>
        <img id="Logo" src="/Site-Logo.jpg">  @*the company's logo*@
    </div>
    <hr />
    <div>
        <p>
            <h2>About Us:</h2>
            Established in 2015, we are a new company that offers a great variety of the best quality vehicles for hiring from 
            israel, at the best prices available at the market!
        </p>
    </div>
</body>