
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Mobile_Layout.cshtml";
}

<div data-role="page">
    <style>
        #Logo {
            width: 500px;
            height: 200px;
        }
    </style>

    <div data-role="content">
        <p>
            <img id="Logo" src="/Site-Logo.jpg"> @*the company's logo*@
        </p>
        <hr />
        <div>
            <p>
                <h2>About Us:</h2>
                Established in 2015, we are a new company that offers a great variety of the best quality vehicles for hiring from
                israel, at the best prices available at the market!
            </p>
        </div>
    </div>
</div>